<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Will-Pay Registro</title>
    <style>
        body { background: #000; color: #fff; font-family: sans-serif; text-align: center; padding: 20px; }
        .gold { color: #f1c40f; font-weight: bold; }
        input { width: 100%; padding: 18px; margin: 10px 0; background: #0d0d0d; border: 1px solid #222; color: #fff; border-radius: 15px; box-sizing: border-box; }
        .btn-gold { background: #f1c40f; color: #000; border: none; padding: 20px; width: 100%; border-radius: 15px; font-weight: 900; cursor: pointer; }
    </style>
</head>
<body>
    <h1 class="gold">CREAR CUENTA</h1>
    <div style="max-width: 400px; margin: auto;">
        <input type="text" placeholder="Nombre y Apellido">
        <input type="text" placeholder="Cédula de Identidad">
        <input type="text" placeholder="Número de Teléfono">
        <input type="password" placeholder="Crea tu Contraseña">
        <button class="btn-gold" onclick="window.location.href='/acceso'">FINALIZAR Y ENTRAR</button>
    </div>
</body>
</html>
