<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Will-Pay | Acceso</title>
    <style>
        body { background: #000; color: #fff; font-family: sans-serif; display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100vh; margin: 0; }
        .login-card { width: 90%; max-width: 320px; text-align: center; }
        input { width: 100%; padding: 15px; margin: 10px 0; background: #111; color: #fff; border: 1px solid #333; border-radius: 10px; box-sizing: border-box; }
        .btn-login { background: #d4af37; color: #000; border: none; padding: 15px; width: 100%; border-radius: 10px; font-weight: bold; cursor: pointer; font-size: 16px; }
        a { color: #d4af37; text-decoration: none; font-size: 13px; margin-top: 20px; display: block; }
    </style>
</head>
<body>
    <div class="login-card">
        <img src="/static/logonuevo.png" style="width: 130px; margin-bottom: 30px;">
        <form action="/login" method="POST">
            <input type="text" name="cedula" placeholder="Cédula de Identidad" required>
            <input type="password" name="password" placeholder="Contraseña" required>
            <button type="submit" class="btn-login">ENTRAR AL BÚNKER</button>
        </form>
        <a href="/registro">¿No tienes cuenta? Regístrate aquí</a>
    </div>
</body>
</html>
